body,html{
  height:   100%;
}


.buul {
	position: relative;
	left: 15px;
}
.buli {
	list-style-type: circle;
}
.cardli *{
	width: 100%;
	text-align: center;
}
.cardul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.cardli{

}
h3
{
	padding-top:  60px;
	color:#009688;
	font-family: 'bree serif',serif;
	max-width: 100vw;

}
#para
{
	font-family: 'open-sans',sans-serif;
	color:#3e2723;
}
#sub
{
	font-family: 'bree serif',serif;
	color:#222222;
}
h4{
	color: #009688 !important;
	font-family: 'Bree Serif', serif;
	margin-bottom: 5px;
}
h5{
	padding-top:  60px;
	color: #009688 !important;
	font-family: 'Bree Serif', serif;
	margin-bottom: 5px;
}
.card-content {
	background-color: #D7E3D2;
}

}
.cardul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: all .3s;
  width: 100%;

}
li{
  transition: all .3s;
}
li img{
  width: 100%;
}
.cardli{
	width: 43%;
	margin-right: 20px;
	margin-bottom: 20px;
 box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
}
.cardli:hover{
   box-shadow: 0 0 30px 5px rgba(0,0,0,.2);
}
@media only screen and (min-width: 480px){
		.cardul{
		flex-wrap: nowrap;
	}

}

@media only screen and (min-width: 480px){
		.cardli{
		width: 43%;
	}

}

@media only screen and (min-width: 550px){
	.cardli{
		width: 43%;
	}
		}

@media only screen and (min-width: 768px){
	.cardli{
		width: 30%;
	}
		}
		
@media only screen and (min-width: 993px){
	.cardli{
		width: 25%;
	}
		}
