#footer
{
	width:100%;
	bottom:0;
  z-index: 2000;
  height:100%;
  background-color:#021B38;

}

.icon {
    width: 75px;
    padding-left: 25px;
}
@media screen and (max-width: 768px){
	  footer{
    display: hidden;
}

.icon{
  width:50px;
}
}