
.listul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: all .3s;
  width: 100%;

}
li{
  transition: all .3s;
}
li img{
  width: 100%;
}
.listul li{
	width: 43%;
	margin-right: 20px;
	margin-bottom: 20px;
 box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
}
.listul li:hover{
   box-shadow: 0 0 30px 5px rgba(0,0,0,.2);
}
.modal-img{
	width: 282px;
	transition: all .3;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 90px;
	border-radius: 30%;
}

@media only screen and (min-width: 480px){
	.modal-img{
		/*width: 40%;*/
			margin-left: auto;
	margin-right: auto;
	}
		.listul{
		flex-wrap: nowrap;
	}

}


.modal-back{
	height: 30vh;
	background: linear-gradient(141deg, #2af598, #009efd);
	margin-bottom: 100px;
}
.modal-details{
	position: relative;
	/*top: -70px;*/
}
.modal-content{
	text-align: center;
	/*height: 80vh !important;*/
}