.navbar-fixed{
  height: 0px;
}
.nav{
 /*background-color: rgba(0,0,0,0);*/
  box-shadow: none;

}
.logo{ 
  width: 300px;
}
nav{
  position: fixed;
  top:0;
    transition: all .3s;
  background-color: #021B38;
}
.logo{
  z-index: 20;
}

@media only screen and (max-width:768px){
.logo {
  margin-top: 10px;
  width: 100px;
}

.header {
  font-family: 'Bree Serif', serif;
  color: #42A79E;
  font-weight: 1.2em;
}

}

@media only screen and (max-width: 1000px){
  .logo{
    margin-top: 10px;
  }
}


::-webkit-scrollbar {   
    display: none;
}

li a{
  padding: 0 16px !important;
}

.logo {
    transition: all .4s;
}
.side-nav{
  z-index: 10000;
}
.innerli :hover{
  background: white !important;
}

.innerNav{
  padding: 0 15px 0 15px !important;
}

.brand-logo {
  color: white;
  padding-left: -10px;
  margin-left: 21px;
}


.side-nav li{
  width: 100%;
  padding:0px !important;
}
::-webkit-scrollbar  {
    width:10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#dropdown1{
  width:230px !important;
}
.nava{
          display: block;
          padding-left: 30px;
}
.nava :hover{
            background:rgba(0,0,0,.2);
}
@media screen and (max-width: 992px){
  nav{
    position: fixed;
    top: 0px;
    z-index: 999 !important;
  }
}
.icon{
  width:50px;
}
.brand-logo {
  color: white;
  padding-left: 0px;
}

}
.svg-logo{
  height: 65px; width: 65px;
}
@media only screen and (max-width: 768px){
  ul a{
    color: #000 !important;
  }
}
@media only screen and (max-width: 992px){
  .svg-logo{
    float: right;
  }
}

nav{
  z-index: 9999;
}